<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img
                        src="../images/work-1.webp"
                        class="img-fluid rounded b-shadow-a"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p>
                        <span class="title-s" data-tr="span.name">Name: </span>
                        <span>Mihai Cristian</span>
                      </p>
                      <p>
                        <span class="title-s" data-tr="span.profile">Profile: </span>
                        <span>Full Stack Developer</span>
                      </p>
                      <p>
                        <span class="title-s">Email: </span>
                        <span>cristimarian03@yahoo.com</span>
                      </p>
                      <p>
                        <span class="title-s" data-tr="span.phone">Phone: </span>
                        <span>(077) 019-8955</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <ul class="skills-bar-container">
                    <li>
                      <div class="progressbar-title">
                        <h3 data-tr="html">HTML5</h3>
                        <span class="percent" id="html-pourcent"></span>
                      </div>
                      <div class="bar-container">
                        <span
                          class="progressbar progressred"
                          id="progress-html"
                        ></span>
                      </div>
                    </li>
                    <li>
                      <div class="progressbar-title">
                        <h3 data-tr="css/sass">CSS / SASS</h3>
                        <span class="percent" id="css-pourcent"></span>
                      </div>
                      <div class="bar-container">
                        <span
                          class="progressbar progressblue"
                          id="progress-css"
                        ></span>
                      </div>
                    </li>
  
                    <li>
                      <div class="progressbar-title">
                        <h3 data-tr="javascript" >JavaScript / jQuery</h3>
                        <span class="percent" id="javascript-pourcent"></span>
                      </div>
                      <div class="bar-container">
                        <span
                          class="progressbar progresspurple"
                          id="progress-javascript"
                        ></span>
                      </div>
                    </li>
  
                    <li>
                      <div class="progressbar-title">
                        <h3 data-tr="nodejs">Node.JS</h3>
                        <span class="percent" id="php-pourcent"></span>
                      </div>
                      <div class="bar-container">
                        <span
                          class="progressbar progressorange"
                          id="progress-php"
                        ></span>
                      </div>
                    </li>
  
                    <li>
                      <div class="progressbar-title">
                        <h3 data-tr="webpack">Webpack</h3>
                        <span class="percent" id="angular-pourcent"></span>
                      </div>
                      <div class="bar-container">
                        <span
                          class="progressbar progressgreen"
                          id="progress-angular"
                        ></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left" data-tr="meniu.about">About me</h5>
                  </div>
                  <p class="lead" data-tr="p.about">
                    Sunt pasionat de programare, în special de dezvoltarea web. Am
                    început să învăț programare în 2024 la scoala Link academy pentru ca 
                    să îmi dezvolt abilitățile tehnice și să îmi îmbunătățesc
                    cunoștințele în acest domeniu. Urmez un curs de full stack developer
                    care îmi oferă o bază solidă în HTML, CSS, JavaScript 
                  </p>
                  <p class="lead" data-tr="p.about">
                    Imi place sportul si in special fotbalul. De asemenea, îmi place să călătoresc și să descopăr locuri noi.
                    Am jucat 17 ani fotbal la nivel profesionist, si am fost antrenor de fotbal la copii.

                  </p>
                  <p class="lead" data-tr="p.about">
                   As vrea să îmi continui cariera în domeniul dezvoltării web și să îmi îmbunătățesc abilitățile tehnice.
                    De asemenea, îmi doresc să colaborez cu alți dezvoltatori și să învăț de la ei.
                    Cred că programarea este o abilitate esențială în lumea modernă și sunt încântat să continui să învăț și să mă dezvolt în acest domeniu.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->