<!-- resume Section
   ================================================== -->
   <section id="resume" class="grey-section sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Work Experience</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-person-workspace"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>UI Designer</h3>
                                        <p>November 2024 - Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Awesome Studio</h4>
                                        <p>i study UI/UX design and i am a student at Link academy and i like very much 
                                            designing and i am a very creative person. 
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-briefcase-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Front-end Developer</h3>
                                        <p>November 2024 - Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Super Cool Agency</h4>
                                        <p>Still at Link academy, i am a student and i am learning front-end development. 
                                            I am very passionate about this field and i want to learn as much as possible.
                                            right now i am learning HTML, CSS, JavaScript and workfarmes like Bootstrap and vue.js
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-bank"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Web Designer</h3>
                                        <p>November 2024- Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Great Designs Studio</h4>
                                        <p>Web designer i will learn in nearly future and i am very excited about this. 
                                            I am a very creative person and i like to design websites and i am very passionate about this field.
                                           
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->

                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Education</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>High School Degree</h3>
                                        <p>september 2017 - Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Sf.Pantelimon High School</h4>
                                        <p>
                                            I attended St. Pantelimon High School between 2017-2021 and graduated from high school in the sports field.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>UNEFS</h3>
                                        <p>September 2021 - September 2022</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>University Faculty of Physical Education and Sports</h4>
                                        <p>I entered the sports university and followed 1 year of courses,
                                             after which I froze the year due to family problems, but I'm thinking 
                                             about starting another faculty in the computer science field in the future.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-backpack"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Baccalaureate degree</h3>
                                        <p>2021-2021</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Sf.Pantelimon High School</h4>
                                        <p>I went to take the exam in 2021 and I went through 3 tests of
                                             Romanian history and geography,
                                             which I passed with flying colors
                                              and got passing grades in all of them.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->
                </div>
            </div>
        </div>
    </div>
</section> <!-- /features -->